/* header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
} */
.container {
    width: 80%;
    margin: 20px auto;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie {
    background-color: #222831;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.movie img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.movie h3 {
    margin: 10px;
}
.movie p {
    margin: 0 10px 10px;
}

