.style img {
    width: 2500cm;
    height: 500cm;
    display: inline-block;
    padding:60cm;
    border:80cm;
}

.shows-container h3, .shows-container h2 {
    text-decoration:aliceblue; 
   
}




